<h1>{{title}}</h1>

<button id="clickme">
    Click me
</button>

<script>
    const button =document.getElementById('clickme')
    button.addEventListener('click', () =>{
        alert("Hello world from rocket")
    })
</script>